.contents-section {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contents-section .contents-title,
.contents-parg {
  align-self: flex-start;
}
.contents-section > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
}
.contents-section div >.col-3{
  border-radius: 10px;
  flex: 1 3 300px;
  margin-bottom: 1em;
  background-color: #fff;
  margin-right:1em ;
}
.col-3 >*{
  background-color:transparent;
  color: #22343d;
  
}
.col-3 h3,p{
  padding:0em 1em 1em ;
}
.col-3 img{
  width: 100%;
  border-radius: 10px 10px 0px 0px ;
  
}
.col-3 p>span{
  font-size: 1em;
  font-weight: 800;
  background-color: #fff;
  color: #22343d;
}
.smoll-circle{
  display: flex;
  justify-content: center;
  align-content: center;

}
.smoll-circle span{
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background-color: #ddd;
  border-radius:10px ;
}
.contnet-col-1:hover >h3{
  color: #02897A;
}
.contnet-col-1:hover>h3 , .contiet-circle-1:hover{
  color: #02897A;
  background-color: #02897A;
  
}