.join-section{
    background-color: #02897A;
    padding: 1.4em;
    border-radius: 1em;
}
.join-continer{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #02897A;
    border-radius: 1em;
}
.join-text-cont{
    padding: 2em 4em;
    flex: 2 1 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    color: #fff;
    align-self: stretch;
}

.join-text-cont h2{
    background-color: transparent;
}
.join-text-cont button{
    align-self: flex-start;
    padding: 1em 2em;
    border: 0;
    border-radius:5px ;
    color: #02897A;
    background-color: #fff;
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: 1.5em;
}
@media (max-width:767px){
    .join-text-cont{
        padding: 1.5em;
        align-items: center;
        
    }
    .join-text-cont button{
        align-self: center;
    }
    .join-text-cont h2{
        text-align: center;
    }
}
.join-img{
    background-color: transparent;
    flex: 1 1 200px;
    
}
 .join-img img{
     width: 100%;
     background-color: transparent;
}