.docu-cont{
    flex-direction: row-reverse;
}
.docu-img{
    flex: 1 2 360px;
}
.docu-img img{
    width: 100%;
}
.docu-text{
    flex:1 2 350px;
    padding: 1.2em;
}
.docu-text *{
    font-weight:900 ;
    color: #22343D;
    margin-top:0.4em ;
}
.docu-text p{
    font-size: 1rem;
    font-weight: normal;
    padding: 0.2em;
}
.docu-text h2{
    font-size: 2em;
    margin-top: 0.2em;
    padding: 0.6em;
}

.docu-text *:not(p:first-of-type){
    padding: 0em 0px 0.4em;
}


